<!DOCTYPE html>
<html>
	<head>
		<title>RPiAir</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style type="text/css">
			body { padding-top: 60px; text-align: center; }
			.container-fluid { text-align: center; }
		</style>
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
		<script src="{{ url_for('static', filename='js/jquery-current.min.js') }}"></script>
		<script type=text/javascript>
		$(document).ready(function(){
			//command buttons
		  $(".cmd-btn").click(function(){
				var cmd = $(this).attr("cmd")
        $.get("/run", { command: cmd }, function(data, status){
          {% if debug is sameas True %}
				  alert("Data: " + data + "\nStatus: " + status);
          {% endif %}
				});
			});

			//video buttons
		  $(".play-btn").click(function(){
				var f = $(this).attr("f")
				$.get("/play", { filename: f }, function(data, status){
          {% if debug is sameas True %}
				  alert("Data: " + data + "\nStatus: " + status);
          {% endif %}
				});
			});
		});
		</script>
	</head>
	<body>

  <!-- player buttons -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div style="text-align: center;">
        <!-- subtitles not implemented yet
				<div class="btn-group">
          <button class="cmd-btn btn" cmd="toggleSubtitle"><i class="icon-align-justify"></i></button>
        </div>
        -->
				<div class="btn-group">
					<button class="cmd-btn btn" cmd="seek-600"><i class="icon-fast-backward"></i></button>
					<button class="cmd-btn btn" cmd="seek-30"><i class="icon-step-backward"></i></button>
					<button class="cmd-btn btn" cmd="togglePlay"><i class="icon-pause"></i></button>
					<button class="cmd-btn btn" cmd="exit"><i class="icon-stop"></i></button>
					<button class="cmd-btn btn" cmd="seek+30"><i class="icon-step-forward"></i></button>
					<button class="cmd-btn btn" cmd="seek+600"><i class="icon-fast-forward"></i></button>
				</div>
				<div class="btn-group">
					<button class="cmd-btn btn" cmd="decrVolume"><i class="icon-volume-down"></i></button>
					<button class="cmd-btn btn" cmd="incrVolume"><i class="icon-volume-up"></i></button>
				</div>
			</div>
		</div>
	</div>

  <!-- video files -->
	<div class=row-fluid">
    <div class="span10 offset1">
      <!-- loop over all files and insert new rows every n thumbnails -->
      <div class="row-fluid">
        <ul class="thumbnails">
        {% for movie in movies %}
          <li class="span3"><a class="play-btn thumbnail" f="{{ movie.location }}"><img src="{{ url_for('static', filename='thumbs/' + (movie.thumb|default('noThumbAvailable.png', True))) }}" /><div class="caption">{{ movie.title }}</div></a></li>
          {% if loop.index is divisibleby(4) and not loop.last %}
        </ul>
      </div>
      <div class="row-fluid">
        <ul class="thumbnails">
          {% endif %}
        {% else %}
          <li class="span12">Currently no movies in the database!</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>
